---

import AlbumCard from '../components/AlbumCard.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Layout from '../layouts/Layout.astro';
import { albums } from '../lib/albums';
import { backgrounds } from "../lib/backgrounds"

const {
    home: homeBackground
} = backgrounds

---

<Layout title='Home'>
    <SectionContainer class={`flex flex-col gap-y-[3vh] ${homeBackground}`}>
        <h1 class="font-extralight text-[2vh] px-2 py-2 backdrop-blur-xs bg-white/20 self-start">{albums.length} albums</h1>
        <ul class="grid  grid-cols-1 lg:grid-cols-5 gap-2" >
            {albums.map((album) => (
                <li>
                    <AlbumCard 
                        type="home" 
                        album={album}
                    />
                    
                </li>
            ))}
        </ul>
    </SectionContainer>
</Layout>
