---

interface Props {
    href: string;
    title: string;
    class: string;
}

const {
    href,
    title,
    class: className
} = Astro.props;


---

<a 
    href={href}
    title={title}
    class={className}
>
    <slot />
</a>