---
import type { TransitionAnimationValue } from 'astro';
import type { Image } from '../types'

interface Props {
    image: Image;
}

const { image } = Astro.props;

const { 
    id,
    cover
} = image;

---

<a 
    href={`/album/image/${id}`}
    class="w-full h-full aspect-square group overflow-hidden"
    >
        <picture>
            <img 
                src={cover} 
                alt={`img-${id}`}
                class="aspect-square w-full h-full transition-all duration-300 group-hover:scale-120 object-cover"
                transition:animate={`transition-cover-${id}` as TransitionAnimationValue } 
            >
        </picture>
</a>