<small class="fixed bottom-0 right-0 p-2 text-white text-[1.5vh] backdrop-blur-sm bg-black/60 font-extralight">
    All images are generated using 
    <a 
        href="https://leonardo.ai/" 
        class="underline" 
        title="Go to the external link https://leonardo.ai/"
        rel="noopener noreferrer"
        target="_blank"
    >
        AI
    </a> 
    and are not real. This is a demo website for educational purposes.
</small>