<small class="fixed bottom-0 right-0 p-2 text-white text-[1.5vh] backdrop-blur-sm bg-black/60 font-extralight">
    Open sourced images from  
    <a 
        href="https://unsplash.com/es" 
        class="underline" 
        title="Visit Unsplash"
        rel="noopener noreferrer"
        target="_blank"
    >
        Unplash
    </a>  
    . This website is a demo created for educational purposes.
</small>
