---
import type { UserPlan } from '../types'

interface Props{
    plan: UserPlan
}

const { plan } = Astro.props;

let color;

switch(plan){
    case "Premium": 
        color = "#a3a273";
        break;
    case "Essential": 
        color = "#ff6700"
        break;
    case "Extra": 
        color = "#ff6700"
}
---

<div class={`border-2 border-[${color}] text-[${color}] rounded-full px-2 font-medium text-[1.3vh] self-start`}>
    {plan}
</div>


