---

import Albums from "@/components/Albums.astro";

---

<nav class="lg:flex flex-col justify-between w-auto lg:h-[calc(100vh-14px)] top-2 hidden  lg:sticky  bg-[#252525] mr-2 lg:mr-0 ml-2 mt-2 mb-2 max-w-[40vh] p-5 md:p-6 lg:p-12">
    <Albums />
</nav>


