---

import Album from "./Album.astro";
import UserProfile from "./UserProfile.astro";

---

<nav class="flex flex-col gap-y-12 w-auto h-[calc(100vh-14px)] top-2 lg:sticky p-12 bg-[#252525] rounded-md ">
    <UserProfile />
    <Album />
</nav>