---

import { user } from "../lib/user";
import PlanBadge from "./PlanBadge.astro";

const {
    name,
    avatar,
    plan
} = user;

---

<div class="flex gap-x-[2vh]">
    <picture>
        <img 
            src={avatar}
            class="aspect-square size-[7.3vh] rounded-full"
            alt={name}
        >
    </picture>

    <div class="flex flex-col gap-y-1">
        <h1 class="text-[2.4vh] font-bold">{name}</h1>
        <PlanBadge plan={plan} />
    </div>

</div>